/* Import Stylesheets */
@import '_variables';
@import '_mixins';

html,body,div{
  margin:0;
  padding:0;
}
// stops flickering betwen resizes - only background
body{
  background: #b1abf2;
}
#overall-wrapper{
  height: 100%;
  overflow: auto;
  .col{
    display: inline-block;
    vertical-align: top;
    color: #fff;
    height: 100vh;
    transition: all 1s ease-in-out;
    width: 0%;
  }
  .col:nth-child(1){
    background: #574ae2;
  }
  .col:nth-child(2){
    background: #282268;
  }
  .col:nth-child(3){
    background: #4b4596;
  }
  .col:nth-child(4){
    background: #8680cc;
  }
  .col:nth-child(5){
    background: #b1abf2;
    width: 100%;
  }
  .project{
    transition: all 1s ease-in-out;
    overflow: hidden;
    left: 0;
    cursor: pointer;
    .left{
      width: 100%;
      height: 100%;
      margin: 0 auto;
      background: url("https://www.fillmurray.com/150/150");
      background-size: cover;
      display: inline-block;
      vertical-align: top;
      display:inline-block;
      transition: all 1s ease-in-out;

      .overlay{
        position: absolute;
        background: #000;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
      .overlay:hover{
        opacity: 0.5;
        transition: 0.75s;
        z-index: 1;
      }
      .text{
        position: absolute;
        z-index: 2;
      }
    }
    .right{
      display: none;
      vertical-align: top;
      width: 0;
      transition: all 1s ease-in-out;
    }
  }
  .project.maximize{
    width: 800px !important;
  }
  .project.minimize{
    width: 50px !important;
  }
  .home{
    text-align: center;
    .inner-wrapper{
      margin: 0 auto;
      width: 100%;
      max-width: 1000px;
      .icon{
        display: none;
        img {
          width: 50px;
        }
      }
    }
  }
}

// Selected Project Toggled Class Styles



#overall-wrapper{
  .project.active{
    .left{
        width: 25%;
    }
    .right{
        width: 75%;
        display: inline-block;
        background: green;

    }
  }
}

