/* Import Stylesheets */
/* Variables */
/* Breakpoints */
/* Transition */
/* Border Radius */
/* Pseudo - For "before" and "after" elements */
/* Center Positioning */
/* Triangles */
/* Keyframes */
/* Animation */
/* Breakpoints - For Media Queries */
html, body, div {
  margin: 0;
  padding: 0; }

body {
  background: #b1abf2; }

#overall-wrapper {
  height: 100%;
  overflow: auto; }
  #overall-wrapper .col {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    height: 100vh;
    transition: all 1s ease-in-out;
    width: 0%; }
  #overall-wrapper .col:nth-child(1) {
    background: #574ae2; }
  #overall-wrapper .col:nth-child(2) {
    background: #282268; }
  #overall-wrapper .col:nth-child(3) {
    background: #4b4596; }
  #overall-wrapper .col:nth-child(4) {
    background: #8680cc; }
  #overall-wrapper .col:nth-child(5) {
    background: #b1abf2;
    width: 100%; }
  #overall-wrapper .project {
    transition: all 1s ease-in-out;
    overflow: hidden;
    left: 0;
    cursor: pointer; }
    #overall-wrapper .project .left {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      background: url("https://www.fillmurray.com/150/150");
      background-size: cover;
      display: inline-block;
      vertical-align: top;
      display: inline-block;
      transition: all 1s ease-in-out; }
      #overall-wrapper .project .left .overlay {
        position: absolute;
        background: #000;
        width: 100%;
        height: 100%;
        opacity: 0; }
      #overall-wrapper .project .left .overlay:hover {
        opacity: 0.5;
        transition: 0.75s;
        z-index: 1; }
      #overall-wrapper .project .left .text {
        position: absolute;
        z-index: 2; }
    #overall-wrapper .project .right {
      display: none;
      vertical-align: top;
      width: 0;
      transition: all 1s ease-in-out; }
  #overall-wrapper .project.maximize {
    width: 800px !important; }
  #overall-wrapper .project.minimize {
    width: 50px !important; }
  #overall-wrapper .home {
    text-align: center; }
    #overall-wrapper .home .inner-wrapper {
      margin: 0 auto;
      width: 100%;
      max-width: 1000px; }
      #overall-wrapper .home .inner-wrapper .icon {
        display: none; }
        #overall-wrapper .home .inner-wrapper .icon img {
          width: 50px; }

#overall-wrapper .project.active .left {
  width: 25%; }

#overall-wrapper .project.active .right {
  width: 75%;
  display: inline-block;
  background: green; }
